<main class="fullScreen">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <h1 class="my-3 text-center">Add Address</h1>
        <form action="/checkout/add-address" method="post">
          <div class="d-flex flex-column">
            <div class="mb-3">
              <label for="address_line_1">Flat, House no., Building, Company, Apartment</label>
              <input type="text" class="form-control" name="address_line_1" id="address_line_1" />
            </div>

            <div class="mb-3">
              <label for="address_line_2">Area, Street, Sector, Village</label>
              <input type="text" class="form-control" name="address_line_2" id="address_line_2" />
            </div>

            <div class="mb-3">
              <label for="landmark">Landmark</label>
              <input type="text" class="form-control" name="landmark" id="landmark" />
            </div>

            <div class="mb-3">
              <label for="town">Town</label>
              <input type="text" class="form-control" name="town" id="town" />
            </div>

            <div class="mb-3">
              <label for="state">State</label>
              <input type="text" class="form-control" name="state" id="state" />
            </div>

            <div class="mb-3">
              <label for="pin_code">PIN code</label>
              <input type="text" class="form-control" name="pin_code" id="pin_code" />
            </div>
          </div>

          <button class="btn btn-primary mb-3 w-100" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</main>
