<main class="fullScreen">
  <div class="container">
    <div class="row">
      <h1 class="my-3">Add Address</h1>
      <form action="/checkout/add-address" method="post">
        <div class="d-flex flex-column">
          <div class="mb-3">
            <label for="">Flat, House no., Building, Company, Apartment
              <input type="text" class="form-control" name="address_line_1" style="width: 20rem;" />
            </label>
          </div>

          <div class="mb-3">
            <label for="">Area, Street, Sector, Village
              <input type="text" class="form-control" name="address_line_2" style="width: 20rem;" />
            </label>
          </div>

          <div class="mb-3">
            <label for="">Landmark
              <input type="text" class="form-control" name="landmark" style="width: 20rem;" />
            </label>
          </div>

          <div class="mb-3">
            <label for="">Town
              <input type="text" class="form-control" name="town" style="width: 20rem;" />
            </label>
          </div>

          <div class="mb-3">
            <label for="">
              State
              <input type="text" class="form-control" name="state" style="width: 20rem;" />
            </label>
          </div>

          <div class="mb-3">
            <label for="">PIN code
              <input type="" class="form-control" name="pin_code" style="width: 20rem;" />
            </label>
          </div>
        </div>

        <button class="btn btn-primary mb-3" type="submit">Submit</button>
      </form>
    </div>
  </div>
</main>