<main class="fullScreen">
<h1>Change Password</h1>
<form action="/profile/change-password" method="post">
<label for="">Enter your new Password
<input type="password" name="password">
</label>
<button class="btn btn-primary" type="submit">Submit</button>
</form>
</main>
