<h1>Edit Personal Details</h1>
<div class="container">
<div class="row">
<form action="/profile/edit-info" method="post" class="d-flex flex-column gap-3">
     <label for="">Full Name :
          <input type="text" name="name" value="<%= userData.name %>">
     </label>
     <label for="">Email :
          <input type="text" name="email" value="<%= userData.email %>">
     </label>
     <label for="">Phone :
          <input type="text" name="phone" value="<%= userData.phone %>">
     </label>
     <button  class="btn btn-primary col-3"  type="submit">Submit</button>
</form>
</div>
</div>