<main class="fullScreen">

     <div class="container d-flex justify-content-center align-middle">
          <div class="row">
               <h1 class="m-5">Edit Personal Details</h1>
               <form action="/profile/edit-info" method="post" class="d-flex flex-column gap-3 ms-5 col-6">
                    <label for="" class="form-label">Full Name :
                         <input type="text" name="name" value="<%= userData.name %>" class="d-block form-control">
                    </label>
                    <label for="" class="form-label">Email :
                         <input type="text" name="email" value="<%= userData.email %>" class="d-block form-control">
                    </label>
                    <label for="" class="form-label">Phone :
                         <input type="text" name="phone" value="<%= userData.phone %>" class="d-block form-control">
                    </label>
                    <button class="btn btn-primary col-6" type="submit">Submit</button>
               </form>
          </div>
     </div>
</main>