<h1>Edit Quantity</h1>
<form action="/cart/update-quantity" method="post">
    <% productInfo.forEach((product)=>{ %>
    <label for="">
        <input type="text" name="productId" value="<%= product.items.productId %>">
    </label>
    <label for=""> Quantity
       
            <input type="number" name="quantity" value="<%= product.items.quantity %>">
            <% }) %>
    </label>
    <button class="btn btn-primary" type="submit">Submit</button>
</form>