<main class="fullScreen">
  <!-- Alert messege for validation -->
  <% if(msg.length> 0){ %>
    <div class="alert alert-danger" role="alert">
      <%= msg %>
    </div>
    <% } %>
      <!--  -->
      <div class="container-fluid">
        <div class="d-flex">
          <div
            class="signup-navigation col-6 mx-4 my-4 me-3 p-5 d-flex flex-column justify-content-center align-items-center rounded-5 text-wrap">
            <h1>New to Our Website?</h1>
            <p>We make Premium Quality Cakes. Experianced Chefs and Unique Recipies Makes Our Cakes Best On Market!!
            </p>
            <a href="/signup" class="btn btn-primary col-6 text-wrap">Create An Account</a>
          </div>
          <div class="login-form col-4 ">
            <form action="/login" method="POST" class="mt-5 ms-5" novalidate>
              <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input name="email" type="email" class="form-control">
              </div>
              <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input name="password" type="password" class="form-control" id="exampleInputPassword1">
              </div>
              <div class="d-flex flex-column text-center justify-content-center align-items-center text-wrap">
                <button type="submit" class="btn btn-primary mb-2  col-6">Log In</button>
                <p>OR</p>
              </div>
            </form>
            <div class="ms-5 d-flex flex-column align-items-center ">
              <a href="/otp-login"><button class="btn btn-primary ms-5 mb-2 col-6">Login With OTP</button></a>
            </div>
          </div>
        </div>
      </div>
</main>