<main class="fullScreen text-center">
     <div class="container">
          <div class="row">
               <h1 class="mt-5 mb-3">There is Nothing Here!!</h1>
          </div>
          <a href="/" class="btn btn-primary">go to home</a>
     </div>
</main>