<form action="/otp-login" method="post">
    <label for="forOtp"> Enter Phone Number
        <input type="tel" name="phone" id="forOtp">
    </label>
    <button type="submit">Get OTP</button>
</form>