<main class="fullScreen">
    <div class="alert alert-primary" role="alert">
        Temperorily disabled  OTP Login !!
      </div>
    <div class="container">
        <div class="row">
                <form action="/otp-login" method="post" class="mt-5">
                    <label for="forOtp"  class="form-label"> Enter Phone Number
                        <input type="tel" name="phone" id="forOtp" class="form-control">
                    </label>
                    <button type="submit"  class="btn btn-primary" >Get OTP</button>
                </form>
            </div>
    </div>
</main>