<form action="/otp-login" method="post">
    <label for="emailForOtp"> Enter Email
        <input type="email" name="email" id="emailForOtp">
    </label>
    <button type="submit">Get OTP</button>
</form>