<main class="fullScreen d-flex flex-column align-items-center">
  <div class="card text-center mt-5">
    <div class="card-header">Success</div>
    <div class="card-body text-success">
      <h5 class="card-title">Order Placed</h5>
      <p class="card-text">Reference Id : <%= REF_ID %></p>
      <a href="/" class="btn btn-primary">Continue shopping</a>
    </div>
    <div class="card-footer text-muted"></div>
  </div>
</main>
