<h1>Add Address</h1>
<form action="/profile/add-address" method="post">
  <label for=""
    >Flat, House no., Building, Company, Apartment
    <input type="text" name="address_line_1" />
  </label>
  <label for=""
    >Area, Street, Sector, Village
    <input type="text" name="address_line_2" />
  </label>
  <label for=""
    >Landmark
    <input type="text" name="landmark" />
  </label>
  <label for=""
    >Town
    <input type="text" name="town" />
  </label>
  <label for="">
    State
    <input type="text" name="state" />
  </label>
  <label for=""
    >PIN code
    <input type="" name="pin_code" />
  </label>
  <button class="btn btn-primary"  type="submit">Submit</button>
</form>
