<main class="fullScreen">

    <!-- Alert messege for validation -->
    <% if(msg.length> 0){ %>
        <div class="alert alert-danger" role="alert">
            <%= msg %>
        </div>
        <% } %>
            <div class="container-fluid">
                <div class="d-flex">
                    <div
                        class="login-navigation col-6 mx-4 my-4 me-3 p-5 d-flex flex-column justify-content-center align-items-center rounded-5 text-wrap">
                        <h1>Already have an Account?</h1>
                        <p>Let's deep dive into the Delicious world of Cakes</p>
                        <button type="button" class="btn btn-primary">Login Now</button>
                    </div>
                    <div class="signup-form col-4">
                        <form action="/signup" method="POST" class="mt-5 ms-5" novalidate>
                            <div class="mb-3">
                                <label for="" class="form-label">Name</label>
                                <input type="text" class="form-control" name="name" id="">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Phone Number</label>
                                <input type="tel" class="form-control" name="phone" id="">
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputEmail1" class="form-label">Email address</label>
                                <input name="email" type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                <input name="password" type="password" class="form-control" id="exampleInputPassword1">
                            </div>
                            <div class="mb-3">
                                <label for="" class="form-label">Repeat Password</label>
                                <input name="repeatPassword" type="password" class="form-control" id="">
                            </div>
                            <div
                                class="d-flex flex-column text-center justify-content-center align-items-center text-wrap">
                                <button class="btn btn-primary" type="submit" class="btn btn-primary">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
</main>