<h1>Otp verification page</h1>
<form action="verify-otp" method="post">
    <input name="phone" type="text" value="<%= data %>">
    <label for="otp">Enter Your OTP
        <input type="text" name="otp" id="otp">
    </label>
    <button type="submit">Submit OTP</button>
</form>