<h1>Otp verification page</h1>
<form action="" method="post">
    <input type="text" value="<%= data %>">
    <label for="otp">Enter Your OTP
        <input type="text" name="" id="otp">
    </label>
    <button type="submit">Submit OTP</button>
</form>