<div class="container-fluid fullScreen">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="col-lg-6 col-12">
      <div
        class="col-12 d-flex flex-column justify-content-center align-items-center"
      >
        <h1 class="main-heading">404</h1>
        <h2>we couldn't find this page.</h2>
        <div class="text-center mt-4 mb-5">
          <a href="/"
            ><button class="btn btn-success px-3 mr-2">
              <i class="fa fa-home"></i> Home
            </button></a
          >
          <a href="/"
            ><button class="btn btn-success px-3 mr-2">
              <i class="fa fa-phone"></i> Contact
            </button></a
          >
          <a href=""
            ><button class="btn btn-success px-3 mr-2">
              <i class="fa fa-info"></i> Report
            </button></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
