<main class="fullScreen">
<h1> Add product</h1>

<form action="/admin/products/add-product" method="post" enctype="multipart/form-data">
    <label for="ProductName">Product name
        <input type="text" name="name" id="ProductName" value="">
    </label>
    <label for=""> Select Category
        <select name="category" id="">
            <option value="none">choose</option>
           <% categories.forEach((category)=>{ %>
            <option value="<%= category.category_name %>"><%= category.category_name %></option>
            <%    }) %>

        </select>
    </label>
    <label for="ProductDes">product description
        <textarea name="description" id=" ProductDes" cols="30" rows="10" value=""></textarea>
    </label>
    <label for="">Price
        <input type="text" name="price" value="">
    </label>
    <label for="">Product Image
        <input type="file" name="image">
    </label>
    
    <button   class="btn btn-primary" type="submit">Submit</button>
</form>
</main>