<h1> Add product</h1>
<form action="/admin/products/add-product" method="post">
    <label for="ProductName">Product name
        <input type="text" name="name" id="ProductName" value="">
    </label>
    <label for=""> Select Category
        <select name="category" id="">
            <option value="none">choose</option>
           <% categories.forEach((category)=>{ %>
            <option value="<%= category.category_name %>"><%= category.category_name %></option>
            <%    }) %>

        </select>
    </label>
    <label for="">Product image link
        <input type="text" name="image" value="">
    </label>
    <label for="ProductDes">product description
        <textarea name="description" id=" ProductDes" cols="30" rows="10" value=""></textarea>
    </label>
    <label for="">Price
        <input type="text" name="price" value="">
    </label>
    <button type="submit">Submit</button>
</form>