<main class="fullScreen">
<h1>Add Category</h1>
<form action="/admin/categories/add" method="post">
    <div class="mb-3">
        <label for="" class="form-label">Edit Category name</label>
        <input name="category" type="text" class="form-control" id="" value="">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</main>