<h1>Admin Home page</h1>
<a  class="btn btn-primary"  href="/logout"><button>Log Out</button></a>
<a   class="btn btn-primary" href="admin/users">users list</a>
<a class="btn btn-primary"  href="admin/products">Products list</a>
<a  class="btn btn-primary" href="/admin/categories">Categories</a>
<a class="btn btn-primary"  href="/admin/orders">Orders</a>