<main class="fullScreen">
<h1>Category Page</h1>
<a href="/admin/categories/add"><button class="btn btn-primary"> Add Category</button></a>
<table class="table" id="categoryTable">
    <thead>
        <tr>
            <th scope="col">No.</th>
            <th scope="col">Category Name</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <% let count=1 %>
            <% categories.forEach((item)=>{ %>
                <tr>
                    <th scope="row">
                        <%= count %>
                    </th>
                    <td>
                        <%= item.category_name %>
                    </td>
                    <td>
                        <a  class="btn btn-primary"  href="/admin/categories/edit/<%= item._id %>" class="btn btn-primary">Edit</a>
                    </td>
                    <td>
                        <a  class="btn btn-primary"  href="/admin/categories/delete/<%= item._id %>" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
                <% count++ %>
                    <% }) %>
    </tbody>
</table>
</main>
<script>
    $(document).ready(function () {
   $('#categoryTable').DataTable();
});
</script>